@charset "UTF-8";
:root {
  /*- - 〇〇（変数名）: 値;*/
  - - main - color: red;
  - - accent - color: blue;
  - - dark - color: yellow;
  - - icon - color: #fff;
  - - icon - bk - color: #ddd;
  - - gray - color: #ddd;
  - - large - width: 1000px;
  - - middle - width: 800px;
}
@media (max-width:599px) {
  :root{
    font-size: 14px;
  }
}
@media (min-width:600px)and(max-width:799px) {
  :root{
    font-size: 16px;
  }
}
@media (min-width:800px) {
  :root{
    font-size: 18px;
  }
}
body {
  font-size: 16px;
  margin: 0;
  font-style: 'メイリオ',
  'Hiragino kaku Gothic Pro',
  sans-serif;
}
.brockA{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  min-height:450px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0,0,0,0.5)), url(img/test.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color:#ffffff;
  color:var(- - text - bright - color);
}
.brockA h1{
  margin-top: 0;
  margin-bottom: 10px;
  /*vwとは、横幅を100vwとする単位。つまり、横幅が320pxの時、1vw=3.2pxとなり、15vw=48pxつまり、横幅に合わせて大きさを調整してくれる単位*/
  font-size: 15vw;
  /*google fontsで選んだフォントのCSSのコードを挿入*/
  font-family: 'RocknRoll One', sans-serif;
  /*文字の間のスペース設定*/
  letter-spacing: 0.2em;
  margin-left: 0.2em;
}
.brockA p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}
/*min-width(最小値768pxの時、{}内のプログラムを実行する)*/
/*@mediaは、縛りをつけたり、追加の機能を入れたりできる*/
@media (min-width:768px){
  .brockA h1{
    font-size: 115px;
  }
  .brockA p{
    font-size: 24px;
  }
  .brockB .container{
    display: flex;
    max-width: 1000px;
    max-width: var(- - large - width);
    margin-left: auto;
    margin-right: auto;
  }
  .brockB .text{
    flex: 1;
  }
}
.container img{
  width:20%;
}
/*ボタン作成*/
.brockA a{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border: solid 3px currentColor;
  border-radius: 6px;
  background-color: #BF6A7A;
  background-color: var(- - accent - color);
  color:#fff;
  color:var(- - text - bright - color);
  font-size: 14px;
  text-decoration: none;
}
/*マウスがクリックボタンの位置にくると色が変わる*/
.brockA a:hover {
  background-image: linear-gradient(
    rgba(200, 200, 200, 0.2),
    rgba(200, 200, 200, 0.2)
    );
}
.brockB .text{
  text-align: center;
}
.brockB h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.brockB p{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}
.brockB a{
  color: #5D9AB2;
  color: var(- - main - color);
  text-decoration: none;
}
.brockB a:hover{
  /*カーソルがmore...の位置にくると下線部が出てくる*/
  text-decoration: underline;
}
.brockB .icon{
  display: inline-block;
  margin-bottom: 20px;
  font-size: 40px;
  width: 2em;
  line-height: 2em;
  /*要素の境界の外側の角を丸めます。1つの半径を設定すると円の角になり、2つの半径を設定すると楕円の角になります。*/
  border-radius: 50%;
  text-align: center;
  background-color: #ddd;
  background-color: var(- - icon - bk - color);
  color: #fff;
  color: var(- - icon - color);
}
.brockB .container{
  padding-top: 80px;
  padding-bottom: 20px;
}
.brockB .text{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  text-align: center;
}
.brockC{
  background-color: #5D9AB2;
  background-color: var(- - main - color);
  color: #fff;
  color: var(- - text - bright - color);
}
.brockC h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.brockC p{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}
.brockC a{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border: solid 3px currentColor;
  border-radius: 6px;
  background-color: #BF6A7A;
  background-color: var(- - accent - color);
  color:#fff;
  color:var(- - text - bright - color);
  font-size: 14px;
  text-decoration: none;
}
/*マウスがクリックボタンの位置にくると色が変わる*/
.brockC a:hover {
  background-image: linear-gradient(
    rgba(200, 200, 200, 0.2),
    rgba(200, 200, 200, 0.2)
    );
}
.brockC .photo{
  min-height: 200px;
  background-image: url(img/photo.png);
  background-position: center;
  background-size: cover;
}

.brockC .text{
  padding: 20px;
}
@media (min-width: 768px) {
  .brockC .container{
    display: flex;
    max-width: 1000px;
    max-width: var(- - large - width);
    margin-left: auto;
    margin-right: auto;
  }
  .brockC .photo{
    flex: 3;
  }
  .brockC .text{
    flex: 2;
    padding: 50px;
  }
}
/*brockDセクション*/
.brockD{
  background-image: url(img/photo2.png);
  background-position: center;
  background-size: cover;
}
.brockD h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.brockD p{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}
.brockD a{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  box-shadow: 0 0 0 1px #888;
  border: solid 3px currentColor;
  border-radius: 6px;
  background-color: #BF6A7A;
  background-color: var(- - accent - color);
  color:#fff;
  color:var(- - text - bright - color);
  font-size: 14px;
  text-decoration: none;
}
/*マウスがクリックボタンの位置にくると色が変わる*/
.brockD a:hover {
  background-image: linear-gradient(
    rgba(200, 200, 200, 0.2),
    rgba(200, 200, 200, 0.2)
    );
}
.brockD .photo{
  min-height: 200px;
  background-image: url(img/photo3.png);
  background-position: center;
  background-size: cover;
}
.brockD .text{
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.brockD .container{
  padding-top: 2px;
}
@media (min-width: 768px) {
  /*大きさを設定する*/
  .brockD .container{
    display: flex;
    /*ブロックの位置を逆にする*/
    flex-direction: row-reverse;
    max-width: 1000px;
    max-width: var(- - large - width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .brockD .photo{
    flex: 0 0 400px;
  }
  .brockD .text{
    flex: 1;
    padding: 50px;
  }
}
/*footerの設定*/
footer{
  color: #fff;
  color: var(- - text - bright - color);
  background-color: #2B5566;
  background-color: var(- - dark - main - color);
}
footer .container{
  padding: 40px 20px;
}
@media (min-width:768px) {
  footer .container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    max-width: var(- - large - width);
    margin-left: auto;
    margin-right: auto;
  }
  .footA{
    flex: 0 0 40%;
  }
  .footB{
    flex: 0 0 60%;
  }
  .footC{
    flex: 0 0 100%;
  }
}
.footA{
  padding-bottom: 30px;
}
.footA h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'RocknRoll One', sans-serif;
  letter-spacing: 0.2em;
}
.footA p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.footA a{
  color: inherit;
  text-decoration: none;
}
.footB div{
  margin-bottom: 20px;
}
.footB h3{
  margin-top: 0;
  margin-bottom: 10px;
  /*下線部の挿入。◯pxは線の太さ設定。*/
  border-bottom: solid 1px currentColor;
  font-size: 14px;
}
.footB ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.footB a{
  display: block;
  padding: 5px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}
.footB a:hover{
  background-color: rgba(0,0,0,0.3);
}
@media (min-width:768px) {
  .footB{
    display: flex;
  }
  .footB div{
    flex: 1;
  }
  .footB div:not(:first-child){
    margin-left: 40px;
  }
}
/*コピーライトの設定*/
.footC{
  font-size: 12px;
  text-align: center;
  font-family: 'RocknRoll One', sans-serif;
}
.footD{
  padding-top: 20px;
}
/*footD_snsアイコン設定*/
.footD ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footD a{
  display: block;
  margin-right: 8px;
  padding: 0;
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  border: solid 1px currentColor;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
}
.footD a:hover{
  background-color: rgba(0,0,0,0.3);
}
/*headerの設定*/
header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
}
/*html2のheader設定*/
.nohero header{
  position: static;
  border-bottom: solid 1px #ddd;
  border-bottom: solid 1px var(- - gray - color);
}
.headA{
  display: inline-block;
  line-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5D9AB2;
  background-color: var(- - main - color);
  color: #fff;
  color: var(- - text - bright - color);
  font-family: 'RocknRoll One', sans-serif;
  font-size: 24px;
  text-decoration: none;
}
/*サイト上部のメニューの設定*/
.headB ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.headB a{
  display: block;
  padding: 15px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}
.headB a:hover{
  background-color: rgba(0,0,0,0.3);
}
@media (min-width:768px) {
  header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    max-width: var(- - large - width);
    margin-left: auto;
    margin-right: auto;
  }
  .headB ul{
    display: flex;
  }
}
@media (max-width:767px) {
  /*小さい画面ようの設定*/
  header .container-small{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headC {
    margin-right: 10px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 28px;
    opacity: 0.5;
    cursor: pointer;
  }
  .headC:hover{
    opacity: 0.3;
  }
  .headB{
    display: none;
  }
}
@media (min-width:768px) {
  /*大きい画面ようの設定*/
  .headC{
    display: none;
  }
  .headB{
    display: block !important;
  }
}
/*コンテンツページの記事の設定*/
.post .container{
  max-width: 800px;
  max-width: var(- - middle - width);
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10px;
}
.post h1{
  padding-left: 0.5rem;
  border-left: solid 0.75rem #BF6A7A;
  border-left: solid 0.75rem var(- - accent - color);
  font-size: 2rem;
}
.post p{
  font-size: 1rem;
  line-height: 2;
}
.post img{
  width: 800px;
  height: 500px
}
/*breadの設定（ol）*/
.bread ol{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.bread a{
  display: block;
  padding: 5px;
  color: inherit;
  font-size: 0.875px;
  text-decoration: none;
}
.bread a::after{
  margin-left: 10px;
  content:" \f054";
  font-family: "fontawesome";
  opacity: 0.3;
}
.bread a:hover{
  background-color: rgba(0,0,0,0.3);
}
/*aboutページの設定*/
.history{
  background-color: #5D9AB2;
  background-color: var(- - main - color);
  color: #fff;
  color: var(- - text - bright - color);
}
.history h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.history text{
  padding: 20px;
}
.history .photo{
  min-height: 300px;
  background-image: url(img/photo.png);
  background-position: center;
  background-size: cover;
}
.history table{
  border-collapse: collapse;
  border-top: solid 1px #ddd;
  border-top:  solid 1px var(- - gray - color);
  font-size: 0,875rem;
}
.history th,
.history td{
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  border-bottom: solid 1px #ddd;
  border-bottom: solid 1px var(- - gray - color);
}
.history th{
  padding-right: 1rem;
  text-align: left;
  word-break: keep-all;
}
@media (min-width: 768px) {
  .history .container{
    display: flex;
    max-width: 1000px;
    max-width: var(- - large - width);
    margin-left: auto;
    margin-right: auto;
  }
  .history .photo{
    flex: 3;
  }
  .history .text{
    flex: 2;
    padding: 50px;
  }
}
/*infoの設定*/
.info{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: solid 1px #ddd;
  border: solid 1px var(- - gray - color);
  text-align: center;
}
.info span{
  display: inline-block;
  margin-bottom: 20px;
  font-size: 2.2rem;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background-color: #5D9AB2;
  background-color: var(- - main - color);
  color: #fff;
  color: var(- - icon - color);
}
.info h2{
  margin-top: 0;
  font-size: 1.2rem;
}
@media (min-width:768px) {
  .info-warp{
    display: flex;
  }
  .info{
     flex: 1;
  }
  .info:first-child{
    margin-right: 20px;
  }
}
/*地図の設定*/
.navi h2{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #5D9AB2;
  background-color: var(- - main - color);
  color: #fff;
  color: var(- - text - bright - color);
  font-size: 1.5rem;
  text-align: center;
}
.navi iframe{
  width: 100%;
  height: 400px;
  vertical-align: bottom;
}
